<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/signin">Login</a>
  </nav>
</div>
<router-outlet></router-outlet>

